body {
    font-family: "Playwrite MX Guides", cursive;
}

h1 {
    font-weight: 400;
}
button {
    background-color: rgb(47, 90, 104);
    border: none;
    color: white;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
}
input {
    border-radius: 8px;
    border: 1px solid rgb(31, 34, 36);
    padding: 3px 10px;
}
::placeholder {
    color: rgb(31, 34, 36);
}
 ul {
    padding: 0;
    list-style-type: none;
 }